{% load django_htmx %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Meme Maker Pro 2003</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

  <meta name="htmx-config" content='{"historyCacheSize": 15}'>

  <script src="{% static 'js/_hyperscript.min.js' %}"></script>
  <script src="{% static 'js/htmx.min.js' %}"></script>
  <script src="{% static 'js/sse.js' %}"></script>
  <script src="{% static 'js/event-header.js' %}"></script>
  {% if debug %}
  <script src="{% static 'js/debug.js' %}"></script>
  {% endif %}
</head>
<html>
	<body hx-ext="{% if debug %}debug, {% endif %}event-header"  hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
		<main id="main">
			{% block content %}{% endblock %}
		</main>
  </body>
</html>
