{% extends "base.html" %}
{% block content %}
{% load static %}
<div>
	<center>
		<h1
			_="init repeat forever
				transition my opacity to 0 over 1s
				transition my opacity to 1 over 1s"
		>
			Meme Maker Pro 2003 - Enterprise Edition
		</h1>
		<h2>No Canadians, btw</h2>
	</center>

	<center>
		<form hx-post="/meme" hx-target="#meme" hx-trigger="load, submit, keyup delay:500ms">
			<table>
				<tr>
					<td>
						<label>Top Text</label>
					</td>
					<td>
						<input type="text" name="top_text" />
					</td>
					<td></td>
				</tr>

				<tr>
					<td>
						<label>Bottom Text</label>
					</td>
					<td>
						<input type="text" name="bottom_text" />
					</td>
					<td></td>
				</tr>
				<tr>
					<td colspan="2">
						<center>
							<select name="file" _="on input b1.click()">
								{% for img in image_list %}
									<option value="{{ img }}">{{ img }}</option>
								{% endfor %}
							</select>
							<br />
							<br />
						</center>
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<center>
							<button
								id="b1"
								style="color: white; padding: 20px;"
								_="init repeat forever transition my *background-color to 'red' over 1s then transition my *background-color to 'blue' over 1s"
							>
								Do it
							</button>
						</center>
					</td>
				</tr>
			</table>
		</form>
	</center>

	<br><br>

	<center>
		<output id="meme"></output>
	</center>

	<br><br>

	<marquee class="marquee-center">Meme Maker Pro (2003)</marquee>

	<center>
		<h1>Gallery</h1>
		<output hx-ext="sse" sse-connect="/sse" sse-swap="init,new_picture,message" id="gallery" hx-swap="afterbegin">
			{% for img in shared_image_list %}
				<img src="{% static 'shared/'|add:img %}" alt="">
			{% endfor %}
		</output>
	</center>

</div>
{% endblock %}
